<!--The content below is only a placeholder and can be replaced.-->
<div id="app">
  <div [hidden]="training">
    <div [hidden]="!recognising"><h2>Hola!! Trying to remember you...</h2></div>
  <div [hidden]="recognising || !recognised"><h2>Hi {{person_name}}! Welcome back</h2></div>
  <div [hidden]="recognising || recognised"><h2>Sorry!! Can't really remember you....</h2><br/>
  <h4>Is it {{person_name}} by any chance?</h4>
  </div>
  <div><video #video id="video" width="640" height="480" autoplay></video></div>
  <div><button id="snap" (click)="captureAndSearch()">Snap Photo</button></div>
  <canvas #canvas id="canvas"  width="640" height="480" hidden ></canvas>
 <br/><br/>

 <div><button id="snap" (click)="goTrain()">Train me</button></div>
</div>
<router-outlet></router-outlet>
 
</div>
